# Per-project `repo upload` hook settings

[Hook Scripts]
cros lint = cros lint --exclude "*/dx_tests/*" ${PRESUBMIT_FILES}
yaml check= script/check_expectation_yaml ${PRESUBMIT_FILES}

[Hook Overrides]
git_cl_presubmit: false
long_line_check: true
stray_whitespace_check: true

[Hook Overrides Options]
long_line_check: --exclude_regex=dx_tests
# This whitespace check isn't Golang-aware (e.g., for string literals). Just
# rely on cros lint.
stray_whitespace_check: --exclude_regex=\.go$
